.cli-container {
  height: 100%;
  width: 100%;
}

.react-console-emulator {
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.react-console-emulator__content {
  font-size: 14px;
  line-height: 1.6;
}

.react-console-emulator__prompt {
  color: #00ff00;
}

.react-console-emulator__input {
  color: #ffffff;
}

.react-console-emulator__output {
  white-space: pre-line;
  color: #d1d5db;
}