.whatsapp {
    display: flex;
    height: 100%;
    background: #111b21;
    color: white;
    border-radius: 12px;
    overflow: hidden;
}

.wa-sidebar {
    width: 280px;
    background: #1f2c33;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wa-chat {
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 6px;
    background: #2a3942;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;
}

.wa-chat:hover {
    background: #324650;
}

.wa-chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #aaa;
    gap: 12px;
}