.mac-window {
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .title-bar {
        height: 32px;
        background-color: #2c2c2c;
        display: flex;
        align-items: center;
        gap: 7px;
        padding: 0 12px;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
        cursor: grab;
        user-select: none;

        &:active {
            cursor: grabbing;
        }

        .icon {
            width: 16px;
            height: 16px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .btns {
            cursor: default;
            display: flex;
            gap: 8px;
            padding: 10px 0;

            .btn {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #ff5f57;

                &.minimize {
                    background-color: #ffbd2e;
                }

                &.maximize {
                    background-color: #28c840;
                }
            }

            .btn:hover {
                opacity: 0.7;
            }
        }


        .title {
            flex-grow: 1;
            font-size: 14px;
            font-weight: 500;
            color: #ffffffaf;
        }
    }

    .content {
        flex: 1;
        padding: 16px;
        background-color: #1f1f1f;
        overflow: auto;
    }
}