.datetime {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.85rem;
  text-align: right;

  .line {
    height: 1rem;
    border-left: 0.1rem solid rgba(255, 255, 255, 0.7);
  }

  .date {
    font-weight: 500;
    font-size: 0.8rem;
    opacity: 0.9;
  }

  .time {
    font-weight: 600;
    font-size: 0.9rem;
    font-family: 'Courier New', monospace;
    opacity: 1;
  }
}
