footer {
    display: flex;
    gap: 0.75rem;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%) scale(0.7);
    transform-origin: center bottom;

    background-color: rgba(63, 63, 63, 0.395);
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(0.2rem);

    .icon {
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        background-color: rgba(0, 0, 0, 0.7);
        aspect-ratio: 1 / 1;
        width: 3rem;

        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .icon:hover {
        transform: scale(1.1) translateY(-20%);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    }

    .icon:hover + .icon,
    .icon:has(+ .icon:hover) {
        transform: scale(1) translateY(-10%);
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    }
}
