* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-image: url('wallpaper.jpg');
    background-position: center;
    background-size: cover;
}