* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('wallpaper.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(150, 150, 150, 0.7);
}
::-webkit-scrollbar-track {
    background-color: #2c2c2c;
}