.discord {
    display: flex;
    height: 100%;
    background: #313338;
    color: white;
    border-radius: 12px;
}

.discord-servers {
    width: 80px;
    background: #202225;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 12px;
    border-radius: 12px 0 0 12px;
}

.server {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #5865f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;

}

.discord-chat {
    flex: 1;
    padding: 20px;
}